@import '../../variables.scss';

.projects {

    h1 {
        text-align: center;
    }


}

.message-list {
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: $bp-lg) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $bp-md) {
        grid-template-columns: repeat(1, 1fr);
    }

    .message-list-item {
        background-color: $text;
        color: #000;
        margin: 1em auto;
        width: 20em;
        padding: 1em;
        border-radius: 10px;
        transition: ease 300ms;
        font-weight: 600;
        position: relative;
        cursor: pointer;

        &:hover {
            background-color: rgb(63, 184, 7);
            color: #fff;

            &::after {
                background-color: rgb(63, 184, 7);
            }
        }

        &::after {
            position: absolute;
            content: '';
            top: 0em;
            left: -0.5em;
            width: 1.5em;
            height: 1em;
            background-color: $text;
            transition: ease 300ms;
            border-radius: 2px 0px 0px 60px;
        }

        @media (max-width: $bp-md) {
            width: 100%;
        }
    }

}


.project-card-wrapper {
    width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.project-card {
    width: 90%;
    height: 80vh;
    background-color: $bg-sec;
    border-radius: 1em;
    padding: 2em;
    z-index: 99;

    @media (max-width: $bp-lg) {
        height: auto;
        width: 100%;
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
            font-size: 2.5em;
            cursor: pointer;
            border-radius: 50%;
            padding: 6px;
            transition: background-color 200ms ease;

            &:hover {
                background-color: rgba(52, 51, 51, 0.844);
            }
        }
    }


    .content {
        display: flex;

        @media (max-width: $bp-lg) {
            flex-direction: column;
            width: 100%;
        }

        .left {
            flex: 51%;
            margin-top: 2em;

            @media (max-width: $bp-lg) {
                width: 100%;
            }

            .desc {
                text-align: justify;
            }

            ul {
                padding-left: 1em;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 0.5em 1em;

                @media (max-width:$bp-lg) {
                    grid-template-columns: repeat(2, 1fr);
                }
            }

            li {
                list-style: '⭐';
                width: 17em;
            }
        }

        .right {
            flex-basis: 50%;
            margin-top: 2em;
            padding: 3em;

            @media (max-width: $bp-lg) {
                padding: 1em;
            }

            .project-img {
                width: 100%;
                height: 18em;

                @media (max-width: $bp-lg) {
                    height: 15em;
                }
            }

            .thumbnails {
                margin-top: 1em;
                display: flex;
                gap: 1em;
                border-radius: 10px;
                cursor: pointer;
                overflow-x: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .project-img-thumbnails {
                width: 4em;
            }
        }

        .sub-head {
            margin-top: 1.25em;
            margin-bottom: 0.5em;
        }

        .link {
            margin-top: 0;
        }

        .small-text {
            font-weight: 300;
            font-size: 14px;
        }
    }
}